<div class="form-group row mb-3 ms-2 justify-content-end">
  <label class="col-2 col-form-label text-center custom-width">Filtered By:</label>
  <div class="col-4">
    <input [(ngModel)]="filter" type="text" class="form-control">
  </div>
</div>


<div class="container w-75 d-flex gap-md-4 gap-sm-1 ">
    <div class="card" style="width: 18rem;" *ngFor="let course of filteredCourses;">
      <a [routerLink]="['/course', course.id]" class="text-reset text-decoration-none">
        <img [src]="course.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{course.name}}</h5>
        </div>
      </a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="fw-bold">Price: </span>{{ course.price | toCurency}}</li>
          <li class="list-group-item"><span class="fw-bold">Release Date: </span>{{ course.releaseDate | date: "dd/MM/yyyy" }}</li>
          <li class="list-group-item"><span class="fw-bold">Duration:</span> {{ (course.duration / 60).toFixed(2) }}h</li>
          <li class="list-group-item"><span class="fw-bold"></span><app-star [rating]="course.rating"></app-star></li>
        </ul>
    
    </div>
</div>
