<div class="container d-flex gap-md-4 gap-sm-1">
    <div class="card" style="width: 18rem;" *ngFor="let course of courses;">
        <img src="{{course.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{course.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: {{ course.price }}$</li>
          <li class="list-group-item">Duration: {{ (course.duration / 60).toFixed(2) }}h</li>
          <li class="list-group-item">Rating: <span *ngFor="let i of [].constructor(course.rating);">&#9733;</span></li>
        </ul>
    
    </div>
</div>
